<div class="container wrapper wrapper2">
  <div class="row">
    <!-- Form -->
    <div class="col-md-12" >
      <h1>We Speak Right</h1>
      <form [formGroup]="profileForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group" >
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
          <label>Prefer Name</label>
          <input type="text" formControlName="preferName" class="form-control" maxlength="20">
        </div>

        <div >
          <label for="custom">Custom Pronunciation</label>
          <input  name="fav_pronun" type="checkbox" id="custom" value="custom" [(ngModel)]="custom" [ngModelOptions]="{standalone: true}" (change)="clear()">
        </div>

        <div  *ngIf="custom">
          <button (click)="initiateRecording()" class="btn btn-danger" *ngIf="!recording" > Start Recording </button>
          <button (click)="stopRecording()" class="btn btn-warning" *ngIf="recording"> Stop Recording </button>
          <audio controls="" *ngIf="url">
            <source [src]="sanitize(url)" type="audio/wav">
          </audio>
        </div>
        <div>
          <div class="col-md-auto text-center ">
          <button type="submit" class="btn btn-danger btn"[disabled]="profileForm.invalid">Submit</button>
          </div>
        </div>
        <div *ngIf="success" class="col-md-auto text-center ">
          <label>ID Number: {{id}} Created successfully !!!</label>
          <br>
          <button (click)="getAllProfiles()" class="btn btn-warning" *ngIf="!recording" > List All Profiles </button>
        </div>

      </form>
    </div>
  </div>
</div>
