table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
  text-align: center;
  padding: 8px;
}

/*tr:nth-child(even){background-color: gold}*/

h1{
text-decoration-thickness:4px;
text-underline-offset: 6px;
font-size: 220%;
font-weight: bold;
text-transform: uppercase;
text-align: center;
}
